<style>
  .center {
    margin: auto;
    width: 90%;
    border: 3px solid #E74C3C;
    padding: 10px;
    text-align: center;
  }
  .column {
    float: left;
    width: 30%;
  }
  .column-time {
    float: left;
    width: 20%;
  }
  ul{
    list-style-type:none;
    text-align: left;
  }
</style>


<router-outlet></router-outlet>

<div class="center">



  <h1>Title</h1>
  <div class="row">
    <div class="column"><ul *ngFor="let item of items">
      <li ><a *ngIf="item.Name.includes('log')" href="{{item['URL']}}">{{item["Name"]}}</a></li>
    </ul></div>

    <div class="column-time"><ul *ngFor="let item of items">
      <li  *ngIf="item.Name.includes('log')">{{item["Time"]}}</li>
    </ul></div>

    <div class="column"><ul *ngFor="let item of items">
      <li ><a *ngIf="!item.Name.includes('log')" href="{{item['URL']}}">{{item["Name"]}}</a></li>
    </ul></div>

    <div class="column-time"><ul *ngFor="let item of items">
      <li  *ngIf="!item.Name.includes('log')">{{item["Time"]}}</li>
    </ul></div>
  </div>

  <!--<ul>-->
    <!--&lt;!&ndash;<li *ngFor="let itemTime of itemsTime"> <a href="{{itemTime}}"> {{itemTime}}</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li *ngFor="let item of items"> {{item}}</li>&ndash;&gt;-->
    <!--<li *ngFor="let product of products">-->
      <!--{{product["Name"]}}-->
    <!--</li>-->
  <!--</ul>-->

</div>
