
.center {
  margin: auto;
  width: 100%;
  padding: 12px;
  text-align: center;
  background: #f2f7fc;
}
ul{
  list-style-type:none;
  /*text-align: left;*/
  padding: 0 0 0 20px;
  margin: 6px 2px 6px 2px;

}
.report{
  text-align: right;
}
.log{
  text-align: left;
}
.robot-auto{
  font-size: 13px;

}
.robot-auto-inner{
  max-height: 1000px;
  overflow: scroll;

}
.col{
  padding: 10px 60px 10px 0px;
  margin: 0px;
  background: white;
  /*width: fit-content;*/
}
.robot-manual{
  text-align: left;

}
.robot-manual-inner{
  background: white;

  padding: 10px 20px;
}
button{
  margin: 5px 10px 5px 0px;
}
