<h2 style="margin: 5px 20px 10px 0px; text-align: right">Automation tool</h2>
<div class="center">
  <br>

<div class="row">
  <div class="col-lg-4 robot-manual">
    <h4>Robot manual</h4>
    <div class="robot-manual-inner">
<p>Currently scheduled:</p><p style="font-size: 11px" >2020-06-08 20:00:00 +0000 UTC</p>
      <button class="btn btn-primary" type="button">
        Reschedule
      </button>
      <button class="btn btn-primary" type="button">
        Run now
      </button>
    </div>
</div>
  <div class="col-lg-8 robot-auto">
    <h4 style="text-align: left">Robot auto</h4>
    <div class="robot-auto-inner">
      <!--create list of log names(links)-->
    <div class="col-lg-2 col"><ul *ngFor="let item of items">
      <li ><a target="_blank" *ngIf="!item.Name.includes('log')" href="{{item['URL']}}">{{item["Name"]}}</a></li>
    </ul></div>
      <!--create list of times corresponding to log names(links)-->
    <div class="col-lg-4 col"><ul *ngFor="let item of items">
      <li  *ngIf="!item.Name.includes('log')">{{item["Time"]}}</li>
    </ul></div>
      <!--create list of report names(links)-->
  <div class="col-lg-2 col"><ul *ngFor="let item of items">
    <li ><a target="_blank" *ngIf="item.Name.includes('log')" href="{{item['URL']}}">{{item["Name"]}} </a></li>
    <!--create list of times corresponding to repport names(links)-->
  </ul></div>
  <div class="col-lg-4 col">
  <ul *ngFor="let item of items">
    <li  *ngIf="item.Name.includes('log')">{{item["Time"]}}</li>
  </ul></div>

    </div>
  </div>
</div>
</div>

