<h2 style="margin: 5px 20px 10px 0px; text-align: center">Robot Framework Automation</h2>
<div class="center">
  <br>

<div class="row">
  <div class="col-lg-6 robot-manual">
    <h4>Robot scheduled run</h4>
    <div class="robot-manual-inner">
<p>Currently scheduled (UTC):</p><p style="font-size: 12px; font-weight: bold" >{{cron}}</p>
      <button class="btn btn-primary" type="button" disabled>
        Reschedule
      </button>
    </div>
</div>
  <div class="col-lg-6 robot-manual">
    <h4>Robot run</h4>
    <div class="robot-manual-inner">
      <p>Run once to get a report on email and list below.</p>
      <p style="font-size: 12px; font-weight: bold">Allow up to 15 min to process</p>
    <button class="btn btn-primary" type="button" (click)="actionMethod($event)">
      Run now
    </button>
    </div>
  </div>
</div>
<br>
  <div class="row">
  <div class="robot-auto">
    <h4 style="text-align: left; margin-left: 15px; ">Robot reports and logs (auto and manual)</h4>
    <div class="col-lg-12 robot-auto-inner">
      <!--create list of report urls-->
    <div class="col-lg-6 col report"><ul *ngFor="let item of items">
      <li ><a target="_blank" *ngIf="!item.Name.includes('log')" href="{{item['URL']}}">Report - {{item["Time"]}}</a></li>
    </ul></div>

      <!--create list of log urls-->
  <div class="col-lg-6 col log"> <ul *ngFor="let item of items">
    <li ><a target="_blank" *ngIf="item.Name.includes('log')" href="{{item['URL']}}">Log - {{item["Time"]}} </a></li>
  </ul></div>

    <!--</div>-->
  </div>
  </div>

</div>

